<a href="https://colab.research.google.com/github/victormazevedo/predict-financial-fraud/blob/master/Predict_Financial_Fraud.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
!wget 'https://www.dropbox.com/s/2f2ex1g5gvug9rg/PS_20174392719_1491204439457_log.csv?dl=0'
df = pd.read_csv('PS_20174392719_1491204439457_log.csv?dl=0')

--2020-01-29 20:04:22--  https://www.dropbox.com/s/2f2ex1g5gvug9rg/PS_20174392719_1491204439457_log.csv?dl=0
Resolving www.dropbox.com (www.dropbox.com)... 162.125.8.1, 2620:100:601b:1::a27d:801
Connecting to www.dropbox.com (www.dropbox.com)|162.125.8.1|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/2f2ex1g5gvug9rg/PS_20174392719_1491204439457_log.csv [following]
--2020-01-29 20:04:22--  https://www.dropbox.com/s/raw/2f2ex1g5gvug9rg/PS_20174392719_1491204439457_log.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://ucb66abc81b7e323dc2c9efb5f7e.dl.dropboxusercontent.com/cd/0/inline/AxE21z1J-8hANahqcSnJR84GJSCvCLF7pgYv2Fq37QXR-j8AiJLA6WWVwCPDbt9yj69D2pecp1_poqM_ATNLvTBxH_k1dC8CQWKInV2coCwA3bBffobCHsRuJZZBjJPSOwI/file# [following]
--2020-01-29 20:04:22--  https://ucb66abc81b7e323dc2c9efb5f7e.dl.dropboxusercontent.com/cd/0/inline/AxE21z1J-8hANahqcSnJR84GJSCvCLF7pgYv2Fq37QXR-j8AiJLA6WWVwCPDbt9yj69D2pecp1_poqM_ATNLvTBxH_k1dC8CQWKInV2coCwA3bBffobCHsRuJZZBjJPSOwI/file
Resolving ucb66abc81b7e323dc2c9efb5f7e.dl.dropboxusercontent.com (ucb66abc81b7e323dc2c9efb5f7e.dl.dropboxusercontent.com)... 162.125.8.6, 2620:100:601b:6::a27d:806
Connecting to ucb66abc81b7e323dc2c9efb5f7e.dl.dropboxusercontent.com (ucb66abc81b7e323dc2c9efb5f7e.dl.dropboxusercontent.com)|162.125.8.6|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 493534783 (471M) [text/plain]
Saving to: ‘PS_20174392719_1491204439457_log.csv?dl=0’

PS_20174392719_1491 100%[===================>] 470.67M  35.5MB/s    in 13s

2020-01-29 20:04:36 (35.6 MB/s) - ‘PS_20174392719_1491204439457_log.csv?dl=0’ saved [493534783/493534783]

In [0]:
df.head()

   step      type    amount  ... newbalanceDest  isFraud  isFlaggedFraud
0     1   PAYMENT   9839.64  ...            0.0        0               0
1     1   PAYMENT   1864.28  ...            0.0        0               0
2     1  TRANSFER    181.00  ...            0.0        1               0
3     1  CASH_OUT    181.00  ...            0.0        1               0
4     1   PAYMENT  11668.14  ...            0.0        0               0

[5 rows x 11 columns]

In [0]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6362620 entries, 0 to 6362619
Data columns (total 11 columns):
step              int64
type              object
amount            float64
nameOrig          object
oldbalanceOrg     float64
newbalanceOrig    float64
nameDest          object
oldbalanceDest    float64
newbalanceDest    float64
isFraud           int64
isFlaggedFraud    int64
dtypes: float64(5), int64(3), object(3)
memory usage: 534.0+ MB
None