<a href="https://colab.research.google.com/github/victormazevedo/predict-financial-fraud/blob/master/Predict_Financial_Fraud.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Predict Financial Fraud with Data Science Analysis

This is a final-project destinated to Analise e Densenvolvimento de Sistema's course of Fatec Ribeirão Preto

In [11]:
import pandas as pd
!wget 'https://www.dropbox.com/s/2f2ex1g5gvug9rg/PS_20174392719_1491204439457_log.csv?dl=0'
df = pd.read_csv('PS_20174392719_1491204439457_log.csv?dl=0')

--2020-03-14 23:56:50--  https://www.dropbox.com/s/2f2ex1g5gvug9rg/PS_20174392719_1491204439457_log.csv?dl=0
Resolving www.dropbox.com (www.dropbox.com)... 162.125.82.1, 2620:100:6032:1::a27d:5201
Connecting to www.dropbox.com (www.dropbox.com)|162.125.82.1|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/2f2ex1g5gvug9rg/PS_20174392719_1491204439457_log.csv [following]
--2020-03-14 23:56:50--  https://www.dropbox.com/s/raw/2f2ex1g5gvug9rg/PS_20174392719_1491204439457_log.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://ucf8da44ebff08b8b45c5be3242d.dl.dropboxusercontent.com/cd/0/inline/Az5PkEILKctZRA3mEs5mn_8g9ZGFSQWFNFD0xNrX5f7qVu9s69iONBBT2XRrpTZXoHov9wNnD8RkpK-Of9gGbbWYPcwU__Hv-TGAPwUb5MiMe0jKphYiidlM4WH0-aijDOc/file# [following]
--2020-03-14 23:56:51--  https://ucf8da44ebff08b8b45c5be3242d.dl.dropboxusercontent.com/cd/0/inline/Az5PkEILKctZRA3mEs5mn_8g9ZGFSQWFNFD0xNrX5f7qVu9s69iONBBT2XRrpTZXoHov9wNnD8RkpK-Of9gGbbWYPcwU__Hv-TGAPwUb5MiMe0jKphYiidlM4WH0-aijDOc/file
Resolving ucf8da44ebff08b8b45c5be3242d.dl.dropboxusercontent.com (ucf8da44ebff08b8b45c5be3242d.dl.dropboxusercontent.com)... 162.125.82.6, 2620:100:6032:6::a27d:5206
Connecting to ucf8da44ebff08b8b45c5be3242d.dl.dropboxusercontent.com (ucf8da44ebff08b8b45c5be3242d.dl.dropboxusercontent.com)|162.125.82.6|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 493534783 (471M) [text/plain]
Saving to: ‘PS_20174392719_1491204439457_log.csv?dl=0.1’

PS_20174392719_1491 100%[===================>] 470.67M  6.89MB/s    in 67s

2020-03-14 23:57:59 (6.98 MB/s) - ‘PS_20174392719_1491204439457_log.csv?dl=0.1’ saved [493534783/493534783]

In [12]:
  df.head()

   step      type    amount  ... newbalanceDest  isFraud  isFlaggedFraud
0     1   PAYMENT   9839.64  ...            0.0        0               0
1     1   PAYMENT   1864.28  ...            0.0        0               0
2     1  TRANSFER    181.00  ...            0.0        1               0
3     1  CASH_OUT    181.00  ...            0.0        1               0
4     1   PAYMENT  11668.14  ...            0.0        0               0

[5 rows x 11 columns]

In [13]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6362620 entries, 0 to 6362619
Data columns (total 11 columns):
step              int64
type              object
amount            float64
nameOrig          object
oldbalanceOrg     float64
newbalanceOrig    float64
nameDest          object
oldbalanceDest    float64
newbalanceDest    float64
isFraud           int64
isFlaggedFraud    int64
dtypes: float64(5), int64(3), object(3)
memory usage: 534.0+ MB
None

In [15]:
df = df.rename(columns={'oldbalanceOrg':'oldBalanceOrig', 'newbalanceOrig':'newBalanceOrig', 'oldbalanceDest':'oldBalanceDest', 'newbalanceDest':'newBalanceDest'})
df.head()

   step      type    amount  ... newBalanceDest  isFraud  isFlaggedFraud
0     1   PAYMENT   9839.64  ...            0.0        0               0
1     1   PAYMENT   1864.28  ...            0.0        0               0
2     1  TRANSFER    181.00  ...            0.0        1               0
3     1  CASH_OUT    181.00  ...            0.0        1               0
4     1   PAYMENT  11668.14  ...            0.0        0               0

[5 rows x 11 columns]

In [19]:
df.isna().values.any()

False

In [23]:
list(df.loc[df.isFraud == 1].type.drop_duplicates().values)

['TRANSFER', 'CASH_OUT']